body {
    background-color: rgb(54, 62, 70);
}

header {
    background-color: black;
    color: white;
    text-align: center;

    padding-top: 8px;
    padding-bottom: 8px;

    border-radius: 8px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.resource-card {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    width: 30%;
    display: inline-block;
}
