body {
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    
    background-image: linear-gradient(to bottom right, #090A1A, #344E89, #a0c4ff);
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Cairo Play', sans-serif;
    color: white;
}

h2 {
    margin: 20px 65px;
    font-style: italic;
}

p {
    margin: 20px 40px;
}

.navbar {
    background-color: rgba(141, 144, 227, 0.25); 
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 20px;
    border-radius: 20px;
    margin: 35px 70px;

    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(38, 51, 230, 0.6);
}

.websiteName {
    color: white;
    cursor: pointer;
}

.highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 40px;
    gap: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: rgba(12, 19, 220, 0.2);
    border-radius: 20px;
} 


#resourceList {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 0;
    scroll-behavior: smooth;
}

.resource-card {
    flex: 0 0 300px;
    min-height: 180px;
    background-color: rgba(141, 144, 227, 0.25);
    color: white;
    
    border-radius: 12px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(38, 51, 230, 0.4);
}

@media (max-width: 768px) {
    .resource-card {
        flex: 0 0 280px;
    }
    .navbar {
        margin: 15px;
        flex-direction: column;
        padding: 10px;
    }
    h2 {
        margin: 20px 10px;
    }
    p {
        margin: 20px 10px;
    }
    ul {
        justify-content: center;
        width: 100%;
    }
}