body {
    background-color: aliceblue;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;

    padding-top: 8px;
    padding-bottom: 8px;

    border-radius: 8px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}